.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.iban-val {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.iban-input {
  flex: 1;
}

td.valid {
  color: green
}

td.invalid {
  color: red
}
